.me,.friend{
    height:100%;
    width:15%;
    background-color: aqua;
}
.trackContainer{
    height:80vh;
    justify-content:space-around;
    background-color: #343a40;
}
.rev{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}
.left-car{
    position: absolute;   
}
